.waveform-card {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.date-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-selector span {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: #eee;
}

.date-selector span.selected {
  background-color: #007bff;
  color: #fff;
}

.waveform {
  overflow: hidden;
}

.wave-container {
  display: flex;
  position: relative;
  align-items: flex-end;
}

.wave {
  width: 10px; /* Adjust as needed */
  background-color: #007bff;
  position: relative;
}

.wave::after {
  content: "";
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: translateY(100%);
  border-radius: 50%;
  opacity: 0.5; /* Adjust opacity for your preference */
}
