*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  max-width: 540px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

@media (max-width: 580px) {
  .app {
    width: 100%;
  }
}

/* nav bar css */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 40px;
}

.navbar svg:hover {
  cursor: pointer;
}

.search_bar_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.search_bar {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  transition: visibility, width 0.3s ease-in-out;
  border: 1px solid #ccc;
  width: 0;
  height: 0;
  visibility: hidden;
}

.search_bar.open {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  visibility: visible;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
}

.search_icon {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.search_icon img {
  width: 20px;
  height: 20px;
}

.search_icon:hover {
  transform: scale(1.2);
}

.location_data_and_image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: translate 0.3s ease-in-out;
}

.location_data_and_image.close {
  translate: -100%;
}
.location_data_and_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location_data_and_image span {
  position: absolute;
  left: 25px;
  top: 25px;
}

.nav_live {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.16px;
  letter-spacing: 0.12px;
  background-color: #ff2d55;
  padding: 4px 8px;
  border-radius: 4px;
  color: #ffffff;
}

/*location info css  */

.location_info {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.location_data {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location_data h1 {
  width: 100%;
  font-weight: 700;
  size: 25px;
  line-height: 29.49px;
  letter-spacing: 0.25px;
  color: #003339;
}
.location_data p {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.7px;
  color: #96969a;
}

.current_situation {
  display: flex;
  align-items: center;
}

.current_situation img {
  width: 20.26px;
  height: 17.55px;
}
.current_situation p {
  color: #057bff;
}

.location_img {
  position: relative;
  width: 30%;
}
.location_img img {
  width: 100%;
  border-radius: 24px;
  aspect-ratio: 1/1;
}

.location_live {
  position: absolute;
  right: 19px;
  bottom: 19px;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.98px;
  background-color: #ff2d55;
  padding: 4px 8px;
  border-radius: 4px;
  color: #ffffff;
}

.nav_live_info {
  position: absolute;
  left: 25px;
  top: 25%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav_live_info .current_location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 187px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #ffffff;
  border-radius: 12px;
}

.nav_live_info .current_location_name {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0.45px;
  color: rgba(255, 255, 255, 1);
}

/* hourly forecast */

.hourly_forecast {
  margin-top: 20px;
  width: 100%;
  background-color: #003339;
  border-radius: 24px;
  padding: 10px 20px;
}
.hourly_forecast_cards {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  background-color: #003339;
}

.hourly_forecast_cards::-webkit-scrollbar {
  display: none;
}

.hourly_forecast_card {
  width: 66px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
}
.hourly_forecast_card:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

.hourly_forecast span {
  font-weight: 700;
  size: 13px;
  line-height: 15.34px;
  text-align: center;
  color: #ffffff;
}
.hourly_forecast img {
  width: 22.51px;
  height: 19.5px;
}

/* hr tag */

.app hr {
  margin-top: 80px;
  width: 100%;
  background-color: rgba(241, 241, 243, 1);
}

/* weather details css */

.weather_details {
  margin-top: 20px;
  width: 100%;
}

.weather_details h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.23px;
}

.weather_detail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather_detail div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.34px;
  color: #96969a;
}

.detail span {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.7px;
  color: #003339;
}

/* temperature data css */

.temperature_data {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: -webkit-fill-available;
}

.temperature_header {
  display: flex;
  justify-content: space-between;
  color: #003339;
}

.temperature_header h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.23px;
}

.change_month {
  border: 1px solid #003339;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
}

.temperature_chart {
  height: 100%;
  padding: 0;
}

/* loading card */

.loading_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
